.DS_Store
node_modules/
gen/
package-lock.json
.env
.env.local
.cdsrc-private.json
.cds-services.json
resources/*
coverage/
*.log
tests/bookshop/.n8n-data/
tests/bookshop/gen/

# added by cds
.cdsrc-private.json
